html {
	position: relative;
	min-height: 100%;
}

body {
	/* background-color: #faebd7; */
	margin-bottom: 5rem;
	min-width: 20rem;
	font-family: "GoogleSans";
}

@font-face {
	font-family: GoogleSans;
	src: url("assets/GoogleSans-Regular.ttf");
}

@font-face {
	font-family: GoogleSans;
	src: url(assets/GoogleSans-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: GoogleSans;
	src: url(assets/GoogleSans-Bold.ttf);
	font-weight: bold;
}

#nav {
	padding: 0.35rem;
	width: 100%;
}

.shadowed {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
	clip-path: inset(0px -10px -10px -10px);
	background-color: white;
}

#navContent {
	display: flex;
	min-width: inherit;
	justify-content: center;
	--nav-gap: 0.75rem;
}

#logo {
	width: 2.667rem;
	height: 2rem;
	margin-right: var(--nav-gap);
}

.navbar-expand .navbar-nav .nav-link {
	padding-left: var(--nav-gap);
	padding-right: var(--nav-gap);
	font-size: 1rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.nav-icon {
	margin-left: var(--nav-gap);
	margin-right: var(--nav-gap);
}

#logo, #cartIcon {
	margin-top: auto;
	margin-bottom: auto;
}

#saleAlert {
	margin: 2rem 3rem 0rem 3rem;
	border-radius: 0.75rem;
}

#content {
	padding-top: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.nav-tabs {
	--bs-nav-tabs-border-radius: 0.5rem;
}

.bi-sliders {
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: -.125em;
	fill: currentcolor;
}

.alert-primary {
	--bs-alert-bg: var(--bs-primary);
	border: 0;
	color: white;
	--bs-alert-link-color: white;
}

/*sign in button*/
#signIn {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	height: 50%;
}

/*create account button*/
#createAcc {
	padding: 0;
	font-size: 0.9rem;
	border: none;
	margin-left: 0.2rem;
}

.account-row {
	padding-top: 1.25rem !important;
	padding-bottom: 1.25rem !important;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.title {
	padding-bottom: 1rem;
	font-weight: bold;
}

aside {
	width: 15rem;
	position: absolute;
	z-index: 1;
}

#items {
	padding-left: 18rem;
}

.row > * {
	padding: calc(var(--bs-gutter-x) * .5);
}

.card {
	cursor: pointer;
	width: 100% !important;
	overflow: hidden;
}

.card-img-top {
	height: 25rem;
	object-fit: contain;
	transition: 0.4s ease
}

.card-img-top:hover {
	transform: scale(1.05);
}

.item-name {
	margin-bottom: 0rem;
}

.brand {
	font-size: 0.75rem;
	color: #5b5b5b;
	margin-bottom: 0.5rem;
}

.form-check {
	font-size: 0.8rem;
}

.price-input {
	font-size: 0.8rem;
	padding: 0.3rem;
}

.accordion {
	--bs-accordion-active-bg: white;
}

.accordion-button:focus, .btn-close:active,
.btn-close:focus {
	box-shadow: none;
}

#dismissSale {
	opacity: 1;
	filter: invert(1) grayscale(100);
	background-color: rgba(255, 255, 255, 0);
}

#searchButton {
	padding: 0;
	border-width: 0;
}

#searchInputContainer {
	display: flex;
	height: 7rem;
	align-items: center;
	width: 61rem;
	margin-left: auto;
	margin-right: auto;
}

#searchResultsContainer {
	width: 61rem;
	margin-left: auto;
	margin-right: auto;
}

#searchInput {
	font-size: 1.75rem;
	font-weight: bold;
	border-width: 0;
	width: 100%;
}

#searchInput:focus {
	outline: none;
}

.top-header {
	height: auto;
	overflow: auto;
	align-items: center;
	padding: 1rem 3rem;
}

.checkout-internal-container {
	margin-bottom: 1.5rem;
}

select {
	font-family: "GoogleSans",Roboto,Arial,sans-serif;
	margin-bottom: 0.5rem;
}

.cart-qty-select {
	border: none;
	padding-left: 0.25rem;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.cart-qty-select:focus {
	box-shadow: none;
}

.cart-img {
	object-fit: contain;
	width: 8rem;
	height: 8rem;
	margin-top: auto;
	margin-bottom: auto;
}

#continueShoppingNormal {
	--bs-btn-color: var(--bs-link-color);
	--bs-btn-hover-color: var(--bs-link-hover-color);
	--bs-btn-active-color: var(--bs-link-hover-color);
	--bs-btn-active-border-color: transparent;
}

.remove-btn {
	--bs-btn-color: #dc3545;
	--bs-btn-hover-color: #bb2d3b;
	--bs-btn-active-color: #b02a37;
	font-weight: 500;
	padding-right: 0;
}

#navCartBtn {
	--bs-btn-active-border-color: transparent;
	padding: 0;
	width: 24px;
	height: 24px;
	margin-top: auto;
	margin-bottom: auto;
}

.search-result {
	width: 100%;
	text-align: left;
	font-size: 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	--bs-btn-color: gray;
	--bs-btn-bg: white;
	--bs-btn-border-color: white;
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: #f8f9fa;
	--bs-btn-hover-border-color: #f8f9fa;
	--bs-btn-focus-shadow-rgb: 211,212,213;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: #f8f9fa;
	--bs-btn-active-border-color: #f8f9fa;
}

#signInModalContent {
	width: 120%;
	border-radius: 1.25rem;
}

#loginBtn {
	padding: 0.5rem 3rem;
}

.line-input {
	background: transparent;
	border: none;
	border-bottom: calc(1rem / 16) solid #27272a;
	color: #27272a;
	width: 100%;
	font-size: 1.1rem;
	padding: 1px 2px !important;
}

.line-input:focus {
	outline: none;
	border-bottom: calc(1rem / 16) solid #0a58ca;
}

input[type='password'] {
	font-family: Verdana;
}

input[type='password']::placeholder {
	font-family: "GoogleSans";
}

.delivery-info {
	display: flex;
	align-items: center;
	border: none;
	background-color: rgb(242, 242, 242);
	padding: 0.75rem 1rem;
}

.delivery-info-req-btn {
	font-weight: 500;
	padding: 0;
}